.login-container{
    max-width: 30%;
    margin: 0 auto;
    padding: 6% 0;
}
form label{
    width: 100%;
    font-weight: normal;
    padding: 5px 0;
}
header{
    width: 100%;
    float: left;
    height: 100px;
}
/******************************/
h1{
    font-size: 20px;
    margin-top: 0;
}
section aside{
    background-color: #f4f4f4;
}
section aside ul{
    margin: 0;
    padding: 0;
}
section aside ul li{
    list-style-type: none;
    border-bottom: 1px solid #dbdbdb;
    padding: 5px 15px;
}
section aside ul li:first-of-type {
    border-top: 1px solid #dbdbdb;
}
section aside ul li a{
    color: #555;
    font-size: 14px;
}
section aside ul li a:hover{
    color: #000;
    text-decoration: none;
}
/*********************/
.navbar-top-links .dropdown a{
    color: #000;
    font-size: 11px;
}
.navbar-top-links > li a:focus,
.navbar-top-links > li a:hover,
.navbar-top-links > li.open,
.navbar-top-links > li.open a:hover{
    color: #337ab7;
    background-color: #fff;
}
.navbar-top-links .dropdown a .glyphicon{
    font-size: 14px;
}
